body{
    font: 20px Arial, sans-serif;
}


.navbar{
    background-color: rgb(216, 230, 205);
}
.navbar-brand{
    font-weight: bold;
}
.quem-somos{
    background-color: rgb(126, 126, 133);
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: rgb(100, 172, 205);
    
}

.servicos {
    background-color: rgb(236, 134, 97);
}

.bg-footer {
    background-color: black;
    color:aliceblue
}